body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    background-color: #f4f4f4;
}

aside {
    width: 200px;
    background-color: #4CAF50;
    color: rgb(2, 2, 2);
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}

aside h1 {
    margin: 0 0 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin-left: 200px;
    padding: 20px;
    flex: 1;
}

.hidden {
    display: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.crypto-list-section {
    margin-top: 20px;
}

.crypto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.crypto-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.crypto-item button:hover {
    background-color: #0056b3;
}

.favorite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.favorite-item button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.favorite-item button:hover {
    background-color: #c82333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}


